

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

  .navbar-nav {
    padding-left: 0;
    background: #e7e7e7;
    float: none;

  }
  .main-container {
    width: 100%;
    height: 100%;
  }
  .navbar-header {

  }
  .heading2 {
    font-size: 130px;
  }
}
@media (min-width:481px)  { /* smartphones, Android phones, landscape iPhone */

  .navbar-nav {
    padding-left: 0;
    background: #e7e7e7;
    float: none;
  }

  .main-container {
    width: 100%;
    height: 100%;
  }

  .heading2 {
    font-size: 140px;
  }

}
@media (min-width:768px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  .navbar-nav {
    margin-top: 12px;
    background: none;
    float: right;
  }

  .main-container {
    width: 75%;
    height: 100%;
  }

  .navbar-header {
    margin-left: -15px;
    margin-right: -15px;
  }

  .navbar-container {
    margin-left: 8%;
    margin-right: 8%;
  }

  .heading2 {
    font-size: 180px;
  }

}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

  .navbar-nav {
    margin-top: 12px;
    background: none;
    float: right;
  }

  .main-container {
    width: 75%;
    height: 100%;
  }

  .navbar-container {
    margin-left: 8%;
    margin-right: 8%;
  }

  .heading2 {
    font-size: 200px;
  }

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

  .navbar-nav {
    margin-top: 12px;
    background: none;
    float: right;
  }

  .main-container {
    width: 75%;
    height: 100%;
  }

  .container .navbar-header {
    margin-left: 7%;
    margin-right: 0;
  }

  .navbar-container {
    margin-left: 12%;
    margin-right: 12%;
  }

  .heading2 {
    font-size: 200px;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */

  .navbar-nav{
    margin-top: 12px;
    background: none;
    float: right;
  }

  .main-container {
    width: 75%;
    height: 100%;
  }

  .container .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-container {
    margin-left: 20%;
    margin-right: 20%;
  }

  .heading2 {
    font-size: 200px;
  }
}

body{
  font-family: sans-serif;
}

.bg-img {
  position: absolute;
  background-image: url('../images/img1.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
<<<<<<< HEAD
  background-position: center center;
=======
>>>>>>> 4b58adc80fafd54c5fabbdd7b8c1a964e7cf54ba
}

.navbar-default {
  height: 80px;
}

.main-container {
  background-color: #ffffff;
  opacity: 0.9;
  margin: auto;
  border-radius: 5px;
}

.contact-form {
  padding: 30px;
  border-radius: 5px;
}

.lilypops-logo {
  width: 210px;
  }

.navbar {
  font-size: 25px;
}

.home-container {
  position: relative;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
  align-items: center;
  font-family: 'Signika', sans-serif;
}

.heading1 {
  font-size: 60px;
  font-weight: 600;
}

.heading2 {
<<<<<<< HEAD
=======
  font-size: 150px;
>>>>>>> 4b58adc80fafd54c5fabbdd7b8c1a964e7cf54ba
  left: 30%;
  color: white;
  font-weight: 600;
  text-shadow: 0px 6px 50px #1f1d1d;
}

.item {
  height: 400px;
  margin: auto;
}

.footer {
  position: absolute;
  right: 0;
  left:0;
  bottom: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.footer .btn-twitter,
.footer .btn-facebook,
.footer .btn-instagram {
  background-color: gray;
}

.flavours {
  background: #da1919;
  width: 206px;
  height: 55px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 24px;
}

.flavours:hover {
  background: #da2020;
  font-size: 26px;
  color: #ffffff;
}






.footer-copyrights {
  padding-left: 20px;
  font-size: 19px;

}
