

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

  .navbar-nav {
    padding-left: 0;
    background: none;
  }
  .main-container {
    width: 100%;
    height: 100%;
  }
  .navbar-header {

  }
}
@media (min-width:481px)  { /* smartphones, Android phones, landscape iPhone */
  .navbar-nav {
    padding-left: 0;
    background: none;
  }
  .main-container {
    width: 100%;
    height: 100%;
  }
  .container .navbar-header {
    margin-left: -15px;
    margin-right: -15px;
  }

}
@media (min-width:769px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .navbar-nav{
    padding-left: 14%;
  }
  .main-container {
    width: 75%;
    height: 100%;
  }
  .navbar-header {
    margin-left: -15px;
    margin-right: -15px;
  }

}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  .navbar-nav{
    padding-left: 16%;
  }
  .main-container {
    width: 75%;
    height: 100%;
  }

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  .navbar-nav{
    padding-left: 10%;
    background: none;
  }
  .main-container {
    width: 75%;
    height: 100%;
  }
  .container .navbar-header {
    margin-left: 7%;
    margin-right: 0;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
  .navbar-nav{
    padding-left: 25%;
  }
  .main-container {
    width: 75%;
    height: 100%;
  }
  .container .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }
}

body{
  font-family: sans-serif;
}

.bg-img {
  position: absolute;
  background-image: url('../images/img1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=80);
  z-index: -1;
}

.main-container {
  background-color: #ffffff;
  opacity: 0.9;
  margin: auto;
  border-radius: 5px;
}

.contact-form {
  padding: 30px;
  border-radius: 5px;
}

.lilypops-logo {
  width: 160px;
  }

.navbar{
  font-size: 25px;
}


.item{
  height: 400px;
  margin: auto;
}

  .footer{
  position: absolute;
  right: 0;
  left:0;
  bottom: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.footer-copyrights
{
  padding-left: 20px;
  font-size:15px;

}
