

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */

  .navbar-nav {
    padding-left: 0;
    background: #e7e7e7;
    float: none;
  }

  .navbar-container,
  .main-container {
    margin-left: 0;
    margin-right: 0;
  }

  .heading2 {
    font-size: 130px;
  }

  .about-us-text {
    width: 100%
  }

  .about-image {
    width: 100%;
  }
}
@media (min-width:481px)  { /* smartphones, Android phones, landscape iPhone */

  .navbar-nav {
    padding-left: 0;
    background: #e7e7e7;
    float: none;
  }

  .navbar-container,
  .main-container {
    margin-left: 0;
    margin-right: 0;
  }

  .main-container {
    border-radius: none;
  }

  .heading2 {
    font-size: 140px;
  }

  .bg-img {
    background-image: none;
  }

}
@media (min-width:768px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  .navbar-nav {
    margin-top: 12px;
    background: none;
    float: right;
  }

  .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-container,
  .main-container {
    width: 760px;
    margin: auto;
  }
  
  .main-container {
    background-color: #ffffff;
    border-radius: 5px;
  }

  .heading2 {
    font-size: 180px;
  }

  .bg-img {
    position: absolute;
    background-image: url('../images/img1.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }

  .bg-img-prg {
    background-color: rgba(162, 87, 129, 0.68);
  }

  .about-us-text {
    width: 50%;
  }

  .about-image {
    width: 50%;
  }

}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */

  .navbar-nav {
    margin-top: 12px;
    background: none;
    float: right;
  }

  .navbar-container,
  .main-container {
    width: 900px;
    margin: auto;
  }

  .heading2 {
    font-size: 200px;
  }


}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

  .navbar-nav {
    margin-top: 12px;
    background: none;
    float: right;
  }

  .container .navbar-header {
    margin-left: 7%;
    margin-right: 0;
  }

  .navbar-container,
  .main-container {
    margin-left: 12%;
    margin-right: 12%;
  }

  .heading2 {
    font-size: 200px;
  }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */

  .navbar-nav{
    margin-top: 12px;
    background: none;
    float: right;
  }

  .container .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-container,
  .main-container {
    margin-left: 20%;
    margin-right: 20%;
  }

  .heading2 {
    font-size: 200px;
  }
}

/* general css styling */
body{
  font-family: sans-serif;
  background-color: #f5f5fd;
}

.navbar-default {
  height: 80px;
}

.main-container {
  background-color: rgba(204,139,177,0.15);
}

.contact-form {
  width: 450px;
  padding: 30px;
  border-radius: 5px;
}

.lilypops-logo {
  width: 210px;
  }

.navbar {
  font-size: 25px;
  z-index: 9999;
}

.home-container {
  position: relative;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: auto;
  align-items: center;
  font-family: 'Signika', sans-serif;
}

.heading1 {
  font-size: 60px;
  font-weight: 600;
}

.heading2 {
  font-size: 150px;
  left: 30%;
  color: white;
  font-weight: 600;
  text-shadow: 0px 6px 50px #1f1d1d;
}

.item {
  height: 400px;
  margin: auto;
}

.footer {
  right: 0;
  left:0;
  bottom: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  display: flex;
  flex-direction: row;
}

.footer .btn-twitter,
.footer .btn-facebook,
.footer .btn-instagram {
  background-color: gray;
}

.flavours {
  background: #da1919;
  width: 206px;
  height: 55px;
  border-radius: 30px;
  color: #ffffff;
  font-size: 24px;
}

.flavours:hover {
  background: #da2020;
  font-size: 26px;
  color: #ffffff;
}

.flex-contact-form {
  display: flex;
  flex-flow: row wrap;
}

#map {
  display: flex;
  width: 350px;
  height: 350px;
  background-color: grey;
}

.adress-form {
  margin: auto;
  display: flex;
  flex-flow: column;
}

.adress-form-adress {
  padding: 20px;
  min-height: 300px;
}

.adress-form-adress ul li {
  list-style-type: none;
}

.footer-copyrights {
  padding-left: 20px;
  font-size: 19px;
}

.about-us {
  display: flex;
  flex-flow: row wrap;
}

.about-us-two {
  display: flex;
  flex-flow: row wrap-reverse;
}

.about-us-text {
  min-width: 350px;
  padding: 15px;
  text-align: justify;
  font-size: 16px;
}

.about-image {
  min-width: 350px;
  min-height: 260px;
  height: 50%;
  padding: 10px;
  margin: auto;
}
